.header-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid;
  border-color: rgba(34, 34, 34, 0.15);
}
.header-box1{
  width: 75vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-family: 'Guardian-egyptt', Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  color: rgb(248, 113, 4);
  text-decoration: none;
  font-size: 42px;
  letter-spacing: 0.2px;
  -webkit-font-smoothing: antialiased;
  margin-right: 10px;
}
.header-link:visited{
  text-decoration: none;
}
.header-link{
   text-decoration: none;
}
.header-button{
  margin: 12x;
}
.header-button1{
  background-color: white;
  border: none;
  font-weight: 550;
  font-size: 13px;
   -webkit-font-smoothing: antialiased;
}
.header-button1:hover{
   background-color: rgb(239, 239, 239);
}
.search-bar{
    display: inline-block;
    outline: none;
    background-color: #8080802b;
    height: 20px;
    width: 50vw;
    flex-grow: 1;
    /* min-width: 84%; */
    margin: 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 300;
    /* display: flex; */
    align-items: center;
    padding: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(34, 34, 34, 0.15);
}
.search-bar:hover{
  border-color: rgba(34, 34, 34, 0.5);
}
.searchIconDiv #search{
  width: 65px;
  margin-left: -70px;
  margin-top: 10px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  background: none;
  border: none;
  outline: none;
  overflow: hidden !important;
}
.searchBarIcon{
  font-size: 1.3em;
  color: grey;
  padding-left: 12px;
}

.searchBarIcon:hover{
  cursor: pointer;
}

.shoppingCartIcon{
  font-size: 1.3em;
  color: black;
  padding: 15px;
}

.shoppingCartIcon:hover{
  cursor: pointer;
  background-color: rgb(239, 239, 239);
  border-radius: 30px; 
}

.searchIconDiv:hover {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #8080802b;

}
/* .shopping-div{
  display: flex;
  justify-content: space-between;
  background-color: red;
} */
.searchDiv{
  width: 65%;
}
.search-bar-form{
  display: flex;
  justify-content: space-between;
}

/* .shopping-cart{
  display: inline-block;
  border-radius: 20px;
  padding: 15px 20px;
  background-color: red;
  margin: 5px;
  /* color: black; */
  /* font-size: 14px;
  font-weight: normal;
  height: 10px;
  width: 30px !important;
  width: 20%; */
  
/* .shopping_cart_icon{
  display: inline-block; 
  border-radius: 20px;
  padding: 15px 20px;
  background-color: red;
  margin: 5px;
  color: black;
  font-size: 14px;
  font-weight: normal;
  height: 10px;
  width: 30px !important;

} */

/* .shopping-cartDiv #shopping{
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  font-size: 20px;;
  border-radius: 50px;
  height: 30px;
} */
/* .shopping-cart:hover{
  cursor: pointer;
  background-color: rgb(239, 239, 239);
  /* border-radius: 30px; 
}*/
/* .shopping-cart:visited{
  text-decoration: none;
  display: none;
} */

.text-input{
  display: flex;
  background: none;
  width: 60vw;
  border: none;
  font-size: 16px;
}
.header-box2{
  width: 75vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-categories{
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 300;
  font-size: 13px;
  text-decoration: none;
  color: grey;
}
.header-categories:hover{
  cursor: pointer;
}
.category:Link{
  text-decoration: none;
  color: grey;
}