.message-main{
  display: flex;
  justify-content: center;
  

}
.message-box{
  width: 75vw;
  height: 60px;
  display: flex;
  align-items: center;

} 
.container-main{
  display: flex;
  // justify-content: center;
  // width: 75vw;
  // background-color: black;
  margin: 0vw 2vw 0vw 13vw;

}
.container-items{
  // width: 75vw;
  display: flex;
  flex-wrap: wrap;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  // background-color: yellow;
  // justify-content: space-between;
  // justify-content: center;
  // align-items: center;
  // align-items: flex-start;
  // background-color: red;
}
.message-style{
  font-size: 35px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: 300;
  letter-spacing: -1.5px;
  -webkit-font-smoothing: antialiased;
}
.grid-main{
  display: flex;
  // width: 75vw;
  // background-color: green;
}
.grid-item{
  // justify-content: center;
  padding: 12px;
  // width: 19%;
  min-width: 200px;
  max-width: 250px;

}
.image-holder > img{
    width: 250px;
    height: 220px;
    /* border: 1px;
    border-color: black;
    border-style: solid; */
}
.name-holder{
    padding: 8px 0px 0px 0px;
    color: black;
    font-size: 16px;
    font-weight: 300;
    
}
.price-holder{
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: normal;
}
.grid-item:hover{
  cursor: pointer;
}

.grid-item-link:visited{
  text-decoration: none;
  color: black;
  /* text-decoration-color: none; */
}
.grid-item-link{
   text-decoration: none;
   color: black;
   /* text-decoration-color: none; */
}

