.whole-showpage{
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 30px;
}
.show-main{
  width: 75vw;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  grid-gap: 15px;
}

/* RATING/TITLE/PRICE/DESCRIPTION: */

.show-child-right{
  display: flex;
  flex-direction: column;
  height: auto;
  font-family: 'Trirong', serif;
  width: auto;
}

.stars{
  margin: 15px;
  text-align: left;
}

.rating-avg{
  height: auto;
  text-align: left;
  padding: 0px 0px 4px 8px;

}
.title-show{
  width: 90%;
  padding: 15px 15px 5px 15px;
  font-size: 28px;
  text-align: left;
  height: auto;
  font-weight: bolder;
}
.price-show{
  width: 90%;
  height: auto;
  padding: 3px;
  padding-left: 15px;
  font-size: 32px;
  font-weight: 400;
  text-align: left;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}
.description-show{
  width: 90%;
  height: auto;
  border: 2px;
  padding: 15px;
  text-align: left;
  font-size: 20px;

}
.buttom-tobuy{
 width: 85%;
  background-color: rgb(26, 24, 24);
  height: auto;
  border-radius: 30px;
  color: whitesmoke;
  font-size: 17px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: 500;
  margin-left: 15px;
  transition:
  background-color 100ms ease-out,
  box-shadow 100ms ease-out,
  transform 100ms ease-out;
}
.button-.buttom-tobuy {
//     // background-color: darken($button-color, 5%);
//     // box-shadow: 0 0 darken($button-color, 10%);
    transform: translateY(5px);
//   }
}

.buttom-tobuy:hover{
  cursor: pointer;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

/* REVIEW:  */

.review-div{
  display: flex;
  flex-direction: column;
  font-family: 'Trirong', serif;
  height: 400px;
  padding: 0px 60px 15px 15px;
  margin-top: 30px;
  /* margin-right: 120px; */
}
/* .comments-form-show{
  width: 100%;
  height: 10%;
  border: 2px;
  border-color: black;
  border-style: dashed;
} */
/* .comments-show{
  width: 100%;
  height: 90%;
  border: 2px;
  border-color: black;
  border-style: dashed;
} */

.child-comments{
  margin-left: 2vw;
}
.title-show2{
  width: 95%;
  padding: 0px 0px 10px 0px;
  font-size: 28px;
  text-align: center;
  /* background-color: blue; */
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(155, 151, 151);
  font-weight: bolder;
}

.review-header{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */

}
.rating-avg-rev > .stars-rev{
  text-align: left;
  margin: 3px 0px 4px 0px;
}
.stars:hover{
  cursor: pointer;
}

.review-index-div{
  padding: 15px 15px 0px 15px;
}
.borderLine{
  border-bottom: 1px solid rgb(155, 151, 151);
  padding: 5px 0px 5px 0px;
}

.user-name{
  font-size: 20px;
  font-weight: bolder;
}
.stars-icon-div{
padding: 0px 0px 5px 0px;
}
.body-cont{
padding: 5px 0px 5px 0px;
}


/* PICTURES */

.show-child-left{
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-between; */
    height: auto;
    margin-bottom: 15px;
    margin-left: 2vw;
}
.picture-container1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.big-pic{
  width: 100%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-pics{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.picture-image{
  height: 450px;
  width: 520px;
  border-radius: 3%;
}

.small-pictures{
  height: 55px;
  width: 55px;
  margin: 5px;
  border-radius: 7px;
}

.picture-container2{
  display: flex;
  flex-direction: column;
  width: 6vw;
  padding-left: 30px;
}

.small-pictures:hover{
  cursor: pointer;
  border: 2px solid;
  border-color: black;
}
.picture-image:hover{
  cursor: pointer;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
 
    width: 160px;
    background-color: #f87104a6;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 60px;
    left: 30%;

}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f87104a6 transparent transparent transparent;
}

