
.close-x > #popup{
    font-size: 28px;
    color: black;
    width: 55px;
    height: 53px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: auto;
    margin-right: 0;
    /* font-weight: 300; */
    align-items: center;
}
.close-x:hover,
.close-x:focus {
    cursor: pointer;
    background-color: #c3bdbd;
    border-radius: 30px;
}

.popup-div{
    background-color: white;
    height: auto;
    width: 35vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 25px;
}

.bio-name {
  color: #31dd4e;
  background: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  animation: animatedgradient 5s infinite linear;
  background-size: 300% 300%;
  font-size: 20px;
  margin: 15px;
}

.bio-message{
  font-size: 10px;
  margin-top: 5px;
}
.webname{
  color: black;
}