.modal-background{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;

}
.session-container{
    background-color: whitesmoke;
    border-radius: 30px;
    width: 380px;
    height: 700px;

}
.session-input{
    position: relative;
    height: 45px;
    width: 300px;
    border-radius: 4px;
    margin: 15px 15px 16px 26px;
    border: 1.5px solid gray;
    font-size: 20px;
    padding-left: 20px;
}
.session-button{
    background-color: rgb(26, 24, 24);
    height: 50px;
    width: 325px;
    border-radius: 30px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 300;
    position: flex;
    margin: 20px 15px 16px 25px;
    align-items: center;
    padding: 15px;
}
.input-label{
    font-size: 16px;
    text-align: left;
    margin: 15px 15px 15px 28px;
}
.session-button:hover {
    background-color: rgb(53, 52, 52);
    color: whitesmoke;
    cursor: pointer;
    opacity: 0.8;
}
.top.button:hover {
    cursor: pointer;
}
button{
    font-size: 14px;
    height: 35px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 200;
}
.close-x{
    font-size: 38px;
    color: whitesmoke;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: auto;
    margin-right: 0;
    font-weight: 200;
}
.close-x:hover,
.close-x:focus {
    cursor: pointer;
    background-color: #c3bdbd;
    border-radius: 30px;
}
.top-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 15px 28px;
}
.top-signup {
    display: grid;
    margin: 0px 30px 15px 28px;
}
.top-message1{
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
}
.top-message2{
    font-size: 16px;
    font-weight: 300;
    margin-top: -5px;
}

.session-form{
    margin-top: -15px;
}
.login-message{
    font-weight: 400;
}